
<div class="maincontainer">
    <img src="../../../assets/images/amorperruno.png" class="d-block w-100" alt="...">

    <div class="row row-cols-1 row-cols-md-2 g-4 bloque">
        <div class="col">
          <div class="card cards">
            <img src="../../../assets/images/doggie.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dogs</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cards">
            <img src="../../../assets/images/cat2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cats</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>           
      </div>

      <div class="bloque2">
        <button type="button" class="btn btn-primary mainbtn">Get Started</button>  
      </div>

</div>
