<!--Cover-->
<div class="cover">
    <main class="main">
      <div class="content-info"  data-aos="fade-right" data-aos-duration="2000">
        <h1 class="display-1 t1">WELCOME <br> YOUR BEST <br> FRIEND</h1>
        <h3 class="paragraph">You won’t change the world by saving an animal; <br> but you will change that animal’s world.</h3>
        <div class="button-content">
          <a class="btn-start" href="/pet-list">Get Started</a>      
        </div>
      </div>  
    </main>
    </div>
    
    <!--Cards-->
    <section class="pets" id="pets">
      <h1 class="t1">PETS</h1>
      <div class="divider">_______</div>
      <h3 class="txt2">Hopeful Pets is a wonderful community with a lot of diversity. <br> We accept all friends no matter what, so each person can find their match! </h3>
      <div class="container-pets" data-aos="fade-up" data-aos-duration="2000">
          <div class="card-container">
            <div class="txt-card">
                <h2 class="t2">DOGS</h2>
            </div>
            <img class="desvanecer" src="../../../assets/images/perritu.png" />
            
          </div>
    
          <div class="card-container">
            <div class="txt-card">
                <h2 class="t2">CATS</h2>
            </div>
            <img class="desvanecer" src="../../../assets/images/gatitu.png" />
          </div>
    
          <div class="card-container">
            <div class="txt-card">
                <h2 class="t2">BIRDS</h2>
            </div>
            <img class="desvanecer" src="../../../assets/images/birds2.png" />
          </div>    
      </div>
    
      <div class="container-pets" data-aos="fade-up" data-aos-duration="2000">
        <div class="card-container">
          <div class="txt-card">
              <h2 class="t2">HAMSTERS</h2>
          </div>
          <img class="desvanecer" src="../../../assets/images/hamsters.png" />
        </div>
    
        <div class="card-container">
          <div class="txt-card">
              <h2 class="t2">BUNNIES</h2>
          </div>
          <img class="desvanecer" src="../../../assets/images/bunny2.png" />
        </div>
    
        <div class="card-container">
          <div class="txt-card">
              <h2 class="t2">LIZARDS</h2>
          </div>
          <img class="desvanecer" src="../../../assets/images/Lizards.png" />
        </div>    
    </div>
    </section>
    
    <!--Boton last-->
    <section class="last">  
      <div class="button-content">
        <a class="btn-start" href="/pet-list">Get Started</a>      
      </div> 
    </section>
     
    
    <div class="espacio"> </div>
