@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.maincontainer{        
        width: 100vw;
        height: 100vh;
        background: #FFF6DF;
    }    

.t1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 86px;    
    text-align: right;
    color: #67F5D6;   
    
}

.bloque{
    margin-top: 7%;
    margin-bottom: 10%;
    margin-left: 15%;
    justify-content: space-around;
}

.mainbtn{
    background-color: #67F5D6;
    color:  #5B5B5B;
    border-color: transparent;
    margin-bottom: 8%;    
}

.bloque2{
    justify-content: center;
    display: flex;
}

.cards{
    width: 20vmax;
    height: 25vmax;
}
    
    
