<br><br>
<h1 class="text-center des1">Members </h1>
<br><br>

<div class="container-fluid text-center m-5">
    <div class="row text-center">
        <div class="col-sm-3 text-center">
            <div class="col-sm-4 text-center copyright">
                <h3 class="des1 text-center">Andrea Navarro Zangarra</h3>
                <br>
                <h5 class="des2">(301185124)</h5>
                <h6 class="des2">anavar14@my.centennial.college.ca</h6>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="col-sm-4 text-center copyright">
                <h3 class="des1 text-center">Mitkumar Malavia</h3>
                <br>
                <h5 class="des2 text-center">(301214375)
                <h6 class="des2">mmalavia@my.centennial.college.ca</h6>
                </h5>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-4 text-center copyright">
                <h3 class="des1 text-center">Himali Kothari</h3>
                <br>
                <h5 class="des2 text-center">(301210969)</h5>
                <h6 class="des2">hkothar4@my.centennialcollege.ca</h6>
            </div>
        </div>
        <div class="col-sm-3 abc">
            <div class="col-sm-4 text-center copyright">
                <h3 class="des1 text-center">Zhengliang Ding</h3>
                <br>
                <h5 class="des2 text-center">(301222388)</h5>
                <h6 class="des2">zding16@my.centennial.college.ca</h6>
            </div>
        </div>
    </div>
</div>

<br>
<h4 class="text-center des3">Course Code: COMP 229</h4>
<h4 class="text-center des3">Course Name: Web Application Development</h4>
<h4 class="text-center des3">Project Topic: Animal Adoption Site</h4>

<br><br>
