<br><br>
<h1 class="text-center des1 des2">Grooming Process </h1>
<br><br>

<div class="container card border-warning">
    <div class="row">
        <div class="col-md-6 text-center pet">
            <h3 class="des1"><u> Hands-on Pet Assessment </u></h3>
            <p class="des2">One of our safety-certified salon associates will do an assessment of your pet’s skin, coat,
                ears, nails and teeth, so they can properly address their unique needs. While our stylists do take note
                of any behavioral or health concerns, this is a great time to let us know of any additional concerns,
                preferences or individual requirements.</p>
        </div>
        <div class="col-sm-6 text-center pet">
            <img class="aboutPic1" src="../../../assets/images/dog.png" alt="Himali-Logo" width="200" height="200">
        </div>
        <div class="col-sm-6 text-center pet">
            <img class="aboutPic1" src="../../../assets/images/brush.png" alt="Himali-Logo" width="200" height="200">
        </div>
        <div class="col-md-6 text-center pet">
            <h3 class="des1"><u>Brushing & Clipping</u></h3>
            <p class="des2">Your Pet Stylist will start by brushing, combing and clipping your pet to remove any excess
                hair or tangles before they get their bath. They will also trim the pet’s nails and clean their ears.
            </p>
        </div>
        <div class="col-md-6 text-center pet">
            <h3 class="des1"><u> Relaxing Bath: </u></h3>
            <p class="des2">PetSmart’s relaxing bath system makes tub time a pampering experience. Your salon expert
                will start by washing your pet with the shampoo/conditioner you agreed on at check-in. All the shampoos
                and conditioners we use are pH-balanced specifically for pets and provide gentle cleansing without
                drying your pet’s skin.</p>
        </div>
        <div class="col-sm-6 text-center pet">
            <img class="aboutPic1" src="../../../assets/images/bathing.png" alt="Himali-Logo" width="200" height="200">
        </div>
        <div class="col-sm-6 text-center pet">
            <img class="aboutPic1" src="../../../assets/images/towel.png" alt="Himali-Logo" width="200" height="200">
        </div>
        <div class="col-md-6 text-center pet">
            <h3 class="des1"><u>Custom Drying: </u></h3>
            <p class="des2">The drying process begins with a gentle towel drying on your pet’s face, ears and tail. Our
                dryers are not heated and have adjustable speeds. Different breeds have different needs and each pet is
                carefully dried using the best method for safety and comfort.</p>
        </div>
        <div class="col-md-6 text-center pet">
            <h3 class="des1"><u>Tailored Haircut: </u></h3>
            <p class="des2">Completing your pet’s haircut after they have been washed and blow-dried allows your stylist
                to ensure there are no additional tangles and provides the best-looking haircut.</p>
        </div>
        <div class="col-sm-6 text-center pet">
            <img class="aboutPic1" src="../../../assets/images/haircut.png" alt="Himali-Logo" width="200" height="200">
        </div>
    </div>
</div>
<br><br>